body { background: #c1aa5a; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 11px; display: flex; }
.block-cluster-0 { color: #b682dd; font-size: 18px; margin-bottom: 5px; }
.block-search-1 { color: #b1d2b9; font-size: 15px; margin-bottom: 5px; }
.block-database-2 { color: #e70ed9; font-size: 12px; margin-bottom: 5px; }
.block-cluster-3 { color: #19c322; font-size: 13px; margin-bottom: 5px; }
.block-product-4 { color: #68f030; font-size: 21px; margin-bottom: 5px; }